{% extends 'base.html.twig' %}

{% block body %}
    <h1>Products!</h1>

    <table class="table">
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>${{ product.price }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
